.navbar-default {
	background: #f5c504;
    border: none;
    height:100px;
    display: block;
}
.navbar-default .navbar-nav>li>a{
	height:100px;
	padding-top: 38px;
	color: #fff7d6;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	color: #fff7d6;
    background-color: #ffcc00;
}
